<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webapplikation Lager</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <style>  
        thead {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Webapplikation Lager</h1>
    <nav>
        <a href="/">Home</a>
    </nav>

    {% block content %}{% endblock %}
</body>

</html>